@model IdleBusiness.Views.Models.MessageIndexVM;

@{
    ViewData["Title"] = "Messages";
}

<div class="row">
    <div class="col">
        <div class="card ml-2 mt-2">
            <h3 class="card-header bg-card-header">Messages</h3>
            <div class="card-body bg-light">
                <table id="businessDirectoryTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <td>Id</td>
                            <td>From</td>
                            <td>Message</td>
                            <td>Date</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Messages)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>@(item.SendingBusiness?.Name ?? "System")</td>
                                <td>@Html.Raw(@item.MessageBody)</td>
                                <td>@item.DateReceived</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            var table = $('#businessDirectoryTable').DataTable({
                "lengthChange": false,
                "order": [[0, "desc"]],
                "columnDefs": [
                    {
                        "targets": [0],
                        "visible": false,
                    },
                ]
            });
        });
    </script>
}