@model IdleBusiness.Views.Models.BusinessIndexVM;

@{
    ViewData["Title"] = $"{Model.Business.Name}";
}

<div class="row">
    <div class="col-md-4">
        <div class="card ml-2 mt-2">
            <h3 class="card-header bg-card-header">
                @Model.Business.Name
            </h3>
            <input id="businessId" value="@Model.Business.Id" hidden />
            <input id="currentEntreprenuerCash" value="@Model.CurrentEntrepreneur.Business.Cash" hidden />

            <div class="card-body bg-light">
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-1 pl-0">
                                <span class="material-icons">attach_money</span>
                            </div>
                            <div class="col">
                                <div class="row">
                                    <em>Cash</em>
                                </div>
                                <div class="row">
                                    <span id="businessCurrentCash" class="formatted-number font-weight-bold" data-number-to-format="@Model.Business.Cash"></span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-1 pl-0">
                                <span class="material-icons">schedule</span>
                            </div>
                            <div class="col">
                                <div class="row">
                                    <em>Cash-per-second</em>
                                </div>
                                <div class="row">
                                    <span id="businessCashPerSecond" class="formatted-number" data-number-to-format="@Model.Business.CashPerSecond" data-number-format-style="$0.00"></span>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>

                <ul class="list-group mt-2">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-1 pl-0">
                                <span class="material-icons">score</span>
                            </div>
                            <div class="col">
                                <div class="row">
                                    <em>Score</em>
                                </div>
                                <div class="row">
                                    @Model.Business.Owner.Score
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    @if (IdleBusiness.Helpers.PurchasableHelper.HasBusinessPurchasedItem(Model.CurrentEntrepreneur.Business.BusinessPurchases, 28))
    {
        <div class="col-md-4">
            <div class="card mt-2 mr-2">
                <h3 class="card-header bg-card-header">@Model.Business.Name's Investments</h3>
                <div class="card-body bg-light">
                    <partial name="Partials/InvestmentsBusinessHasMade" model="Model" />
                </div>
            </div>
        </div>
    }

    @if (IdleBusiness.Helpers.PurchasableHelper.HasBusinessPurchasedItem(Model.CurrentEntrepreneur.Business.BusinessPurchases, 32))
    {
        <div class="col-md-4">
            <div class="card mt-2 mr-2">
                <h3 class="card-header bg-card-header">@Model.Business.Name's Espionages</h3>
                <div class="card-body bg-light">
                    <partial name="Partials/EspionagesBusinessHasCommitted" model="Model" />
                </div>
            </div>
        </div>
    }
</div>

<div class="row">
    <div class="col-md-10 mt-5">
        <div class="card ml-2 mt-2 mr-2">
            <h3 class="card-header bg-card-header">Take actions on @Model.Business.Name</h3>
            <div class="card-body bg-light">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-investments-tab" data-toggle="tab" href="#nav-investments" role="tab">Investment</a>
                        <a class="nav-item nav-link" id="nav-espionages-tab" data-toggle="tab" href="#nav-espionages" role="tab">Espionage</a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-investments" role="tabpanel">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card ml-2 mt-2">
                                    <div class="card-body">
                                        <h3 class="card-title">Invest in @Model.Business.Name</h3>

                                        @if (Model.CurrentEntrepreneur.Business.LifeTimeEarnings > 1000000)
                                        {
                                            <form asp-controller="Business" asp-action="InvestInCompany" asp-route-companyToInvestInId="@Model.Business.Id" method="post">
                                                <p class="card-subtitle mb-2">
                                                    Profit Percentage: <span id="profitPercentage" class="formatted-number" data-number-to-format="0" data-number-format-style="0%"></span>
                                                </p>
                                                <p class="card-subtitle mb-2 text-muted">Invest in business for one day. At 5PM market time, you will collect a percentage of the profits the invested company made between the investment time and market close.</p>
                                                <div class="form-group">
                                                    <label for="investmentAmount">Investment Amount (from your CPS)</label>
                                                    <input type="text" class="form-control" id="investmentAmount" name="investmentAmount" pattern="\d*">
                                                </div>
                                                <button type="submit" class="btn btn-primary">Invest</button>
                                            </form>
                                        }
                                        else
                                        {
                                            <h3 class="card-title">Locked</h3>
                                            <p class="card-subtitle mb-2">
                                                Cannot invest in @Model.Business.Name until you have reached 1m lifetime profits
                                            </p>
                                        }
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                @if (IdleBusiness.Helpers.PurchasableHelper.HasBusinessPurchasedItem(Model.CurrentEntrepreneur.Business.BusinessPurchases, 33))
                                {
                                    <div class="card ml-2 mt-2">
                                        <div class="card-body">
                                            <h3 class="card-title">
                                                Group Invest in @Model.Business.Name
                                            </h3>
                                            <partial name="Partials/GroupInvestment" model="Model" />
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                @if (Model.HasCurrentEntrepreneurInvestedInBusiness)
                                {
                                    <div class="card ml-2 mt-2">
                                        <div class="card-body">
                                            <h3 class="card-title">
                                                Your investments in @Model.Business.Name
                                            </h3>
                                            <partial name="Partials/CurrentEntrepreneursInvestmentsInCompany" model="Model" />
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="nav-espionages" role="tabpanel">
                        <div class="row">
                            <div id="espionageAlert" class="alert m-3 w-100" role="alert" style="display:none;">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card mt-2 ml-2">
                                    <div class="card-body">
                                        <h3 class="card-title">Commit Espionage against @Model.Business.Name</h3>
                                        @if (Model.Business.MaxEmployeeAmount >= 70)
                                        {
                                            <p class="card-subtitle mb-2">
                                                Cost: <span name="espionageCost" class="formatted-number" data-number-to-format=""></span> (<span class="formatted-number" data-number-to-format="@Model.CurrentEntrepreneur.Business.Cash"></span>)
                                            </p>
                                            <p class="card-subtitle mb-2">
                                                Chance of success: <span name="espionageChanceOfSuccess" class="font-weight-bold formatted-number" data-number-to-format="@(Model.CurrentEntrepreneur.Business.EspionageChance - Model.Business.EspionageDefense)" data-number-format-style="0%"></span>
                                            </p>
                                            <p class="card-subtitle mb-2 text-muted">If espionage is successful, @Model.Business.Name will lose <span class="font-italic formatted-number" data-number-to-format="@(Model.EspionagePercentage)" data-number-format-style="0%"></span> of it's current CPS for one day. @Model.Business.Name will also gain 5% espionage defense.</p>
                                            <button id="attemptEspionage" type="submit" class="btn btn-primary">Attempt Espionage</button>
                                        }
                                        else
                                        {
                                            <h3 class="card-title">Locked</h3>
                                            <p class="card-subtitle mb-2">
                                                Cannot espionage @Model.Business.Name until they have reached 70 employees
                                            </p>
                                        }
                                    </div>
                                </div>
                            </div>

                            @if (IdleBusiness.Helpers.PurchasableHelper.HasBusinessPurchasedItem(Model.CurrentEntrepreneur.Business.BusinessPurchases, 35))
                            {
                                <div class="col-md-6">
                                    <partial name="Partials/FunnelMoneyFromBusiness" model="@Model" />
                                </div>
                            }

                            @if (IdleBusiness.Helpers.PurchasableHelper.HasBusinessPurchasedItem(Model.CurrentEntrepreneur.Business.BusinessPurchases, 36))
                            {
                                <div class="col-md-6">
                                    <partial name="Partials/RemoveMaxEmployee" model="@Model" />
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#investmentAmount").on('input', (function () {
                var currentCps = parseFloat($("#businessCashPerSecond").attr("data-number-to-format"));
                var investmentAmount = parseInt($("#investmentAmount").val());
                var investmentPercentage = investmentAmount / currentCps;
                if (investmentPercentage > 1) investmentPercentage = 1;

                $("#profitPercentage").attr("data-number-to-format", investmentPercentage).trigger('numberChange');
            }));
        });
    </script>

    <script>
        $('#companyToPartnerWith').select2({
            ajax: {
                url: '/Business/FindAvailableGroupInvestors',
                delay: 500,
                dataType: 'json',
                data: function (params) {
                    var query = {
                        companyName: params.term,
                    }

                    // Query parameters will be ?search=[term]&type=public
                    return query;
                },
                processResults: function (data) {
                    var businesses = [];
                    $.each(data, function (i, item) {
                        businesses.push({ id: item.Id, "text": item.Name });
                    });
                    console.log(data);
                    return { results: businesses };
                }
            }
        });
    </script>

    

    <script type="text/javascript">
        $(document).ready(function () {
            var currentEntCash = parseInt($("#currentEntreprenuerCash").val());
            $("[name='espionageCost']").each(function () {
                var cost = 10000;
                if ((currentEntCash * 0.01) > 10000) cost = (currentEntCash * 0.01);
                $(this).attr("data-number-to-format", cost).trigger('numberChange');
            });
        });
    </script>

    <script type="text/javascript" src="~/js/commitEspionage.js"></script>
    <script type="text/javascript" src="~/js/stealMoney.js"></script>
    <script type="text/javascript" src="~/js/removeMaxEmployee.js"></script>
    <script type="text/javascript" src="~/js/debounce.js"></script>
}