@model IdleBusiness.Views.Models.BusinessIndexVM;

<p class="card-subtitle mb-2">
    Total Invested: <span id="totalInvestedAmount" class="formatted-number" data-number-to-format="@Model.TotalInvestedAmount" data-number-format-style="$0.0a"></span>
</p>
<p class="card-subtitle mb-2">
    Approx. Profit: <span id="approxInvestmentProfit" class="formatted-number font-weight-bold" data-number-to-format="@Model.InvestedProfits" data-number-format-style="$0.0a"></span>
</p>
<table class="table table-sm">
    <thead>
        <tr>
            <th scope="col">Investment Expiration</th>
            <th scope="col">Investment Amount</th>
            <th scope="col">Investment Percent</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CurrentEntrepreneurInvestments)
        {
            <tr>
                <td>@item.Investment.InvestmentExpiration.Date.ToString("MM/dd/yyyy", System.Globalization.CultureInfo.InvariantCulture)</td>
                <td>
                    <span class="formatted-number" data-number-to-format="@item.Investment.InvestmentAmount" data-number-format-style="$0a"></span>
                </td>
                <td>
                    <span class="formatted-number" data-number-to-format="@((item.Investment.InvestmentAmount / item.Investment.InvestedBusinessCashPerSecondAtInvestment) < 100 ? (item.Investment.InvestmentAmount / item.Investment.InvestedBusinessCashPerSecondAtInvestment) : 1)" data-number-format-style="0.00%"></span>
                </td>
            </tr>
        }
    </tbody>
</table>